*/*  reset de pagina */
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        
    }

body{
        background-color: navajowhite;
    }

.cabecalho{
        display: flex; /* filhos um do lado do outro */
        flex-direction: column; /* filhos em coluna  */
        gap: 18px; /* espaçamento entre os filhos */
        align-items: center; /* alinhar os filhos no eixo Y */
        background-color: navajowhite;
    }

.cabecalho img{
        width: 200px;/* largura da imagem */
        height: 200px;/* altura da imagem */
        border-radius: 100%; /* arredondar as bordas */
        border: 3px goldenrod solid; /* adicionar borda */
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    }

.cabecalho h1{
        font-size: 20px; /* tamanho da fonte */
    }

.btns{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.btns a{
    display: flex;
    justify-content: center; /* alinhar eixo X */
    width: 235px;
    border: black 2px solid;
    box-shadow: black 5px 5px 0px;
    border-radius: 58px;
    background-color:navajowhite;
    color: darkgoldenrod;
    text-decoration: none;
    padding: 16px;
}
